version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./env/service.env
    depends_on:
      - db
    volumes:
      - ./:/app
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1G
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: appleuser
      POSTGRES_PASSWORD: applepass
      POSTGRES_DB: appledb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
